{{ define "twitter/test.html" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <style></style>
  </head>
  <body>
    <h1>{{ .title }}</h1>
    <button type="button" id="query">关注</button>
    <ul>
      <li id="userid"></li>
      <li id="username"></li>
    </ul>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        // 获取用户任务信息
      })

      $("#query").click(() => {
        console.log("hahahh")
      })
    </script>
  </body>
</html>
{{ end }}
